<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/new_project.css">

    <title>Dashboard coba git</title>

</head>

<body style="background-color: #B1D4E0;">
    <h1 class="mt-4 mb-5 ml-5" id="workspace_font">WORKSPACE</h1>
    <div class="container mt-5" id="kotak">
        <h3 class="float-left mt-3 mx-2 px-1 ml-4">Project</h3>
        <h5 class="float-right mt-3 mx-2 px-1 mr-4">Hello, Iskhak!<img src="../assets/images/user_icon.jpg"
                alt="user_icon" class="rounded-circle" id="icon_size"></h5>
        <br>
        <div class="row mt-5 mb-5 mx-4">
            <div class="col-md-3">
                <img src="../assets/images/trash_icon.jpg" alt="user_icon" class="float-right mt-5" id="icon_size_no_margin">
                <img src="../assets/images/user_icon.jpg" alt="user_icon" class="float-right" id="icon_size_no_margin">
            </div>
        </div>
    </div>
</body>

</html>