<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/new_project.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>

    <title>Dashboard</title>

</head>

<body>
    <h1 class="mt-4 mb-5 ml-5" id="workspace_font">WORKSPACE</h1>
    <div class="container mt-5 pb-4" id="kotak">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Projek</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto">
                    <a class="nav-item nav-link active" href="#">Semua <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Proses</a>
                    <a class="nav-item nav-link" href="#">Selesai</a>
                </div>
                <h5>Hello, Iskhak!<i class="fas fa-user ml-2"></i></h5>
            </div>
        </nav>

        <!-- input search -->
        <div class="row mt-2">
            <div class="col-md-3 mx-2">
                <div class="input-group bg-white input-group-sm rounded-pill border border-dark">
                    <div class="button input-group-append">
                        <button class="btn ml-2 " type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <input class="cari form-control rounded-pill" type="search" placeholder="Cari" aria-label="Search">
                </div>
            </div>
        </div>

        <!-- kotak" kecil -->
        <div class="row mt-5 mb-5 mx-4">
            <div class="col-md-3 rounded-lg mx-2 py-2 shadow bg-white rounded" id="kotak_kecil">
                <a href=""><i class="fas fa-edit  float-right"></i></a>
                <a href=""><i class="fas fa-trash float-right mr-3"></i></a>
                <br>
                <h4>Judul Proyek</h4>
                <p>Keterangan</p>
                <button class="float-left rounded-pill px-2">Sisa 3 Hari</button>
                <i class="fas fa-user bg-white float-right"></i>
            </div>
        </div>

        <div class="d-flex align-items-end flex-column">
            <a href="new_project.html"><button class="btn btn-primary" id="tombol" type="button">Proyek
                    Baru</button></a>
        </div>

    </div>
</body>

</html>