<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/new_project.css">

    <!-- date picker assets -->
    <link rel="stylesheet" href="../assets/datepicker/css/bootstrap-datepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>    
    <script src="../assets/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../assets/datepicker/locales/bootstrap-datepicker.id.min.js"></script>
   
    <!-- date picker js active button -->
    <script>
        $(function () {
            $("#date").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy-mm-dd',
                language: 'id'
            });
        });
    </script>

    <title>New Project Lanjut</title>

</head>

<body style="background-color: #B1D4E0;">
    <h1 class="mt-4 mb-5 ml-5" id="workspace_font">WORKSPACE</h1>
    <div class="container mt-5" id="kotak"> 
        <h3 class="float-left mt-3 mx-2 px-1 ml-4">Project</h3>
        <h5 class="float-right mt-3 mx-2 px-1 mr-4">Hello, Iskhak!<img src="../assets/images/user_icon.jpg" alt="user_icon" class="rounded-circle" id="icon_size"></h5>
        <br>
        <div class="row mt-5 mb-5 mx-4">
            <!-- gambar buat_proyek -->
            <div class="col-md-6 mt-4">
                <img src="../assets/images/buat_proyek _baru.jpg" class="img-fluid rounded-lg mx-auto d-block"
                    alt="Gambar Buat Proyek Baru">
            </div>
            <div class="col-md-6 mt-4">
                <div class="container">
                <h5>Buat Proyek Baru</h5>
                <!-- Form buat Proyek -->
                <form action="" method="">
                    <div class="row">
                        <div class="col-8">
                            <!-- input deskripsi -->
                            <textarea name="des_proyek" id="" rows="5" class="form-control mb-2 mt-2 rounded-lg" placeholder="Deskripsi Proyek"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 py-2 mb-2">
                            <!-- input tanggal -->
                            <input type="text" class="form-control rounded-lg" id="date" placeholder="YYYY-MM-DD" name="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="custom-file">
                                <!-- input file -->
                                <input type="file" class="custom-file-input rounded-lg" name="">
                                <label class="custom-file-label" for="labelBrowse">Unggah Document</label>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary mt-5 mr- 3 pt-2 pr-3 float-right" value="Buat Proyek" id="tombol">
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>